{##}

<script>
    window.messages = {
        'missingValue': {
            'checkbox': "{{ 'validation_missing_value_checkbox'|_ }}",
            'radio': "{{ 'validation_missing_value_radio'|_ }}",
            'select': "{{ 'validation_missing_value_select'|_ }}",
            'select-multiple': "{{ 'validation_missing_value_select_multiple'|_ }}",
            'default': "{{ 'validation_missing_value_default'|_ }}"
        },
        'patternMismatch': {
            'email': "{{ 'validation_pattern_mismatch_email'|_ }}",
            'url': "{{ 'validation_pattern_mismatch_url'|_ }}",
            'number': "{{ 'validation_pattern_mismatch_number'|_ }}",
            'color': "{{ 'validation_pattern_mismatch_color'|_ }}",
            'date': "{{ 'validation_pattern_mismatch_date'|_ }}",
            'time': "{{ 'validation_pattern_mismatch_time'|_ }}",
            'month': "{{ 'validation_pattern_mismatch_time'|_ }}",
            'month': "{{ 'validation_pattern_mismatch_month'|_ }}",
            'default': "{{ 'validation_pattern_mismatch_default'|_ }}"
        },
        'outOfRange': {
            'over': "{{ 'validation_out_of_range_over'|_ }}",
            'under': "{{ 'validation_out_of_range_under'|_ }}"
        },
        'wrongLength': {
            'over': "{{ 'validation_wrong_length_over'|_ }}",
            'under': "{{ 'validation_wrong_length_under'|_ }}"
        }
    };
</script>
