title = "Home"
url = "/"
layout = "main"
is_hidden = 0


==
<?php
function onInit()
{
    // $this['path_page_js'] = mix('assets/dist/js/index.js', 'themes/studybook-taillwind');
}
?>
==
{##}
{{ vite([ 'pages/index/index.js' ]) }}
{% set arArticleList = ArticleList.make().sort('publish|desc').published().take(4) %}

{% if this.theme.main_carousel_active and this.theme.main_carousel is not empty %}
    {% partial 'carousel-main/carousel-main' arCarouselList = this.theme.main_carousel %}
{% endif %}
{% if this.theme.latest_news_is_active %}
    {% partial 'news-list-latest/news-list-latest'
        arArticleList = arArticleList
        sSectionHeadingLevel = 2
    %}
{% endif %}
{% if this.theme.has_popularity %}
    {% partial 'product-list-small/product-list-small'
        sProductListSmallType = sProductListSmallTypePopularity
        sSectionHeading = 'heading_product_list_small_popular_products'|_
        sSectionHeadingLevel = 2
        iTake = 4
        sBtnMore = true
        sButtonName = 'button_show_more_products'|_
        iShowIndex = 4
    %}
    {# TODO: Change sSectionHeadingLevel to iSectionHeadingLevel overall #}
{% endif %}
<h2 class="font-medium text-3xl text-gray-900 mb-10 uppercase"> aaaasss {{' heading_product_categories'|_}}</h2>
<div class="flex flex-col mb-10">
    {% set iTake = 5 %}
    {% set arCategoryListCount = CategoryList.make().tree() %}
    
    {# {% partial 'advanced-list/advanced-list'
        body
    %}
        {% for obItem in arCategoryListCount %}
            {% partial 'advanced-list/advanced-list-item'
                sName = obItem.name
                sUrl = obItem.getPageUrl('catalog/catalog')
                sImagePath = obItem.icon.path
                sPartialClasses = obItem.viewBag.cssClass
                sLoad = 'true'
                sHidden = 'hidden'
                iTake = iTake
            %}
        {% endfor %}
    {% endpartial %} #}
    {% if arCategoryListCount|length > iTake %}
        <div class="flex justify-center mt-10">
            <button class="_advanced-list-button-show-all text-base rounded text-blue-800 border border-blue-800 border-solid py-3 px-8 w-full md:w-max hover:bg-blue-700 hover:border-blue-700 hover:text-white focus:outline-none active:bg-blue-900 focus-visible:ring-1 focus-visible:ring-blue-800 focus-visible:ring-offset-1 focus-visible:ring-offset-white focus-visible:bg-blue-800 focus-visible:text-white">{{ 'button_all_categories'|_ }}</button>
            {% partial 'button/button'
                sText = 'button_loading'|_
                sPartialClasses = '_advanced-list-button-show-all-hidden w-full hidden relative pl-14 pr-10 md:w-max'
                bDisabled = true
                body
            %}
                <svg class="animate-spin absolute top-4 left-60 w-5 h-5 text-gray-400 md:left-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
            {% endpartial %}
        </div>
    {% endif %}
</div>

{% if this.theme.page_seo_block_active %}
    {% partial 'page-seo-content/page-seo-content' %}
{% endif %}
