{##}

<footer class="full-width bg-gray-100 {{ sPartialClasses }}">
    <div class="container mx-auto px-4 py-7 lg:pt-10 lg:pb-8 flex flex-col md:flex-row">
        <div class="mb-6 lg:mb-0 pb-6 lg:pb-0 border-b lg:border-b-0 border-gray-300 flex flex-col">
        {% partial 'navigation-columns/navigation-columns' %}
            {% if this.theme.payment_methods_list_active %}
                {% partial 'icon-list/icon-list'
                    sSectionHeader = "heading_icon_list_payment_methods"|_
                    sPartialClasses = "lg:mt-8"
                    sUlClass = "gap-x-2"
                    arItemList = this.theme.payment_methods_list
                    sItemClass = "w-14 aspect-w-14 aspect-h-9"
                    sNotFoundResultsMessage = "text_icon_list_payment_methods_not_found"|_
                %}
            {% endif %}
        </div>
        {% if this.theme.business_card_image
           or this.theme.business_card_description
           or this.theme.business_card_phone
           or this.theme.business_card_email
           or this.theme.business_card_address
           is not empty
        %}
            <div class="lg:pl-8 lg:ml-auto max-w-xs">
                {% if this.theme.business_card_image is not empty %}
                    <img loading="lazy" class="block max-h-14" src="{{ this.theme.business_card_image|media }}" alt="{{ this.theme.business_card_image_alt }}" title="{{ this.theme.business_card_image_title }}">
                {% endif %}
                {% if this.theme.business_card_description is not empty %}
                    <p class="mt-4 text-gray-600 text-sm">{{ this.theme.business_card_description }}</p>
                {% endif %}
                {% if (this.theme.business_card_phone or this.theme.business_card_email or this.theme.business_card_address) is not empty %}
                    <ul class="mt-4">
                        {% if this.theme.business_card_phone is not empty %}
                            <li>
                                <a class="text-blue-800 underline hover:text-blue-700 hover:no-underline active:text-blue-900 visited:text-purple-800 focus-visible:outline-blue" href="tel:{{ this.theme.business_card_phone|replace({'-': '', '(': '', ')': '', ' ': ''}) }}">{{ this.theme.business_card_phone }}</a>
                            </li>
                        {% endif %}
                        {% if this.theme.business_card_email is not empty %}
                            <li class="mt-4 lg:mt-2">
                                <a class="text-blue-800 underline hover:text-blue-700 hover:no-underline active:text-blue-900 visited:text-purple-800 focus-visible:outline-blue" href="mailto:{{ this.theme.business_card_email }}">{{ this.theme.business_card_email }}</a>
                            </li>
                        {% endif %}
                        {% if this.theme.business_card_address is not empty %}
                            <li class="mt-5 lg:mt-2 text-gray-600">{{ this.theme.business_card_address }}</li>
                        {% endif %}
                    </ul>
                {% endif %}
                {% if this.theme.social_media_list_active %}
                    {% partial 'icon-list/icon-list'
                        sSectionHeader = "heading_icon_list_social_media"|_
                        sPartialClasses = "lg:mt-5"
                        arItemList = this.theme.social_media_list
                        sItemClass = "w-10 aspect-w-1 aspect-h-1"
                        sNotFoundResultsMessage = "text_icon_list_social_media_not_found"|_
                    %}
                {% endif %}
            </div>
        {% endif %}
    </div>
    {% if this.theme.business_card_copyright is not empty %}
        <div class="bg-gray-200 text-gray-700 text-center p-2.5 text-xs md:text-sm">{{ this.theme.business_card_copyright }}</div>
    {% endif %}
    {% if this.theme.shopaholic_bar %}
        <div class="text-center text-gray-600 p-2.5 text-xs md:text">
            {% set sPoweredByPluginUrl = 'https://shopaholic.one' %}
            {% set sPoweredByThemeUrl = 'https://octobercms.com/theme/lovata-tailwind-shopaholic' %}
            {% set text_powered_by_plugin = '<a class="underline text-blue-800 hover:text-blue-700 hover:no-underline focus-visible:outline-blue active:text-blue-900 visited:text-purple-800" href="'~ sPoweredByPluginUrl ~'" target="_blank" rel="noopener noreferrer">'~('text_powered_by_plugin'|_)~'</a>' %}
            {% set text_powered_by_theme = '<a class="underline text-blue-800 hover:text-blue-700 hover:no-underline focus-visible:outline-blue active:text-blue-900 visited:text-purple-800" href="'~ sPoweredByThemeUrl ~'" target="_blank" rel="noopener noreferrer">'~('text_powered_by_theme'|_)~'</a>' %}
            {{ 'text_powered_by' | transRaw({text_powered_by_plugin: text_powered_by_plugin, text_powered_by_theme: text_powered_by_theme}, ) }}
        </div>
    {% endif %}
</footer>
