{##}

{% for obValue in obPropertyValueList %}
    {% set bChecked = arFilterValue[obProperty.id] is not empty and obValue.slug in arFilterValue[obProperty.id] %}
    {% set bDisabled = false %}
    {% if bChecked == false and arFilterValueWithoutProperty[obProperty.id] is not empty %}
        {% set obProductListTemp = obProductList.copy().filterByProperty(arFilterValueWithoutProperty[obProperty.id], obProductPropertyList).filterByProperty(arFilterValueWithoutProperty[obProperty.id], obOfferPropertyList) %}
        {% set bDisabled = obValue.isDisabled(obProductListTemp) %}
    {% endif %}

    {% if obValue.label == 'White' %}
        {% set checkboxStyle = 'border-gray-300 checked:bg-45 checked:bg-check checked:border-gray-300 checked:hover:border-gray-300
        disabled:opacity-30' %}
    {% else %}
        {% set checkboxStyle = 'border-0 checked:bg-75
        checked:border-0 disabled:opacity-30' %}
    {% endif %}

    <div class="w-max flex flex-col items-center mb-4 mr-2 {{sPartialClasses}}">
        <input
            class="_input-checkbox-color rounded w-9 h-9 mr-0 focus:outline-none focus-visible:border-blue-800 {{checkboxStyle}}"
            type="checkbox"
            id="{{obValue.slug}}"
            value="{{obValue.slug}}"
            style="--input-checkbox-color: {{obValue.value}};"
            {{bDisabled ? 'disabled'}}
            {{bChecked ? 'checked'}}
        >
        <label for="{{ obValue.slug }}" class="text-gray-600 text-xs pt-1">{{ obValue.label|raw}}</label>
    </div>
{% endfor %}
